

      <div class="hero-wrap js-fullheight" style="height: 800px;background-image: url('assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="col-lg-8 cent">
            <h1 id="dreamTitle">وظيفة الأحلام بأنتظارك</h1>
            <form (submit)="onSubmit(search)">
          <div class="input-group mb-3 st">

          <input type="text" class="form-control" style="direction: rtl; font-size: 16px; color: #92A1A8"  placeholder="أكتب أسم الوظيفة التى تريد البحث عنها" aria-label="Recipient's username" aria-describedby="basic-addon2" required name="search"  #search ngModel id="search">
          <div class="input-group-append">
            <input type="submit" class="input-group-text" id="basic-addon2" value="أبحث عن عملك" >
          </div>

        </div>
      </form>
      </div>

      </div>
