<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active"  >بوابة العمل</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a [routerLink]="['/home']" routerLinkActive="router-link-active" class="nav-link">الصفحة الرئيسية</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">معلومات عنا</a></li>

          <li class="nav-item"><a href="contact.html" class="nav-link">أتصل بنا</a></li>
          <li class="nav-item cta mr-md-2"><a (click)="goToHireManagerForm()" class="nav-link" style="cursor: pointer">أضف وظيفة</a></li>
          <li class="nav-item cta mr-md-2 cta-colored"><a (click)="goToFreeLancerForm()" class="nav-link" style="cursor: pointer">أطلب وظيفة</a></li>
          <li class="nav-item cta mr-md-2 "  ><a (click)="goToCompanyForm()" class="nav-link" style="cursor: pointer">تسجيل شركة</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
