<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">عنا</h2>
            <p>خريجى معهد تكنولوجيا المعلومات قسم الويب والموبايل </p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">أرباب الاعمال</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">كيفية العمل</a></li>
              <li><a href="#" class="py-2 d-block">تسجيل</a></li>
              <li><a href="#" class="py-2 d-block">أضافة وظيفة</a></li>
              <li><a href="#" class="py-2 d-block">أضافة مهارات للبحث</a></li>
              <li><a href="#" class="py-2 d-block">تقديم خدمه</a></li>

            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">عمال</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">كيفية العمل</a></li>
              <li><a href="#" class="py-2 d-block">تسجيل</a></li>
              <li><a href="#" class="py-2 d-block">أضف مهاراتك</a></li>
              <li><a href="#" class="py-2 d-block">بحث عن وظيفة</a></li>
              <li><a href="#" class="py-2 d-block">بحث عن موضفين</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">هل لديك أسأله؟</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">ِأسيوط معهد تكنولوجيا المعلومات</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 01013751057</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">TeacmWork@gmail.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>  2019 BwabaEl3mel.com, All rights reserved.   <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="#" target="_blank">ITI TEAM WORK</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>



