<div class="Quiz" style="margin-top: 100px; margin-bottom:100px;">
  <div>الأمتحان سوف يغلق بعد <span id="time">0{{numberOfQuestion}}:00</span> دقيقة</div>
    <h4>
        {{t}} أختبار
    </h4>

    <form  #answer="ngForm" (submit)="AddQuiz(QuestionID)"
    style="clear: both; min-height: 100px; padding: 20px;" *ngFor="let item of listOfQuestionByTestLid" >

      <input  type="hidden" id="QuestionID" name="QuestionID"  #QuestionID   [value]=item.id>
      <label style="float: right">{{item.Question}}</label>

      <div style="float: right; margin-right: 20px;">

          <input name="Answer" type="radio" style="direction: rtl"  (change)="checked(true)"  value=true>صح
        <br>
          <input name="Answer" type="radio" style="direction: rtl" (change)="checked(false)"  value=false>خطأ

      </div>
      <input (click)="disableButton($event)" id="item.id" style="float: left; margin-left:40%; margin-bottom: 20px; width: 40px;height: 40px;" type="submit" class=""  value="أجب" >
      <hr style="clear: both; color: blue;">
    </form>

    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="goToResult()"  >النتيجة</button>
</div>


